/* body {
 background-image: url("../images/train.jpg");
} */

.jumbotron {
 background-image: url("../images/gstrain.jpg");
 background-size: 100%; 
 background-blend-mode:;
 
 color:white;
 background-repeat: round ;

}

h1 {
 text-align: center;
 font-family: 'Sue Ellen Francisco', cursive;
 margin-top: 30px;
}
p {
 text-align: center;
 margin-top: -28px;

}

.display-4{
 margin-top: -23px;
}
.schedule1 {


 
}